<%# Article Header Area %>
<%= @article.name %>
<br />
<%= link_to @article.url, @article.url %>
<br />
<%= @article.language %>
<br />

<%= render "alternates", article: @article, related_articles: @related_articles %>

<br />

<% unless @translation.nil? %>
  <h1>Translation</h1>

  <div>
    <%= @translation.content %>
  </div>
<% end %>

<br />
<% unless @translation %>
  <%= link_to "Add Translations", new_article_translation_path(@article) %>
<% else %>
  <%= link_to "Edit Translations", edit_article_translation_path(@article) %>
<% end %>
